# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/
marketlens/

# Data files
data/raw/*.csv
data/processed/*.csv
!data/processed/marketlens_dataset.csv
!data/processed/marketlens_features.csv

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml
